name: "Sync GHAS to Jira"

on:
  workflow_dispatch:
#  schedule:
#    - cron: '*/5 * * * *'    # trigger synchronization every 10 minutes

jobs:
  sync-alerts-jira:
    runs-on: ubuntu-latest
    permissions:
          security-events: read
    steps:
      - name: Sync alerts to Jira issues
        uses: github/ghas-jira-integration@v1
        with:
          jira_url: 'https://demyst.atlassian.net/'
          jira_user: '${{ secrets.JIRA_USER }}'
          jira_token: '${{ secrets.JIRA_TOKEN }}'
          jira_project: 'ST'
          sync_direction: 'gh2jira'
